@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Prevent screen capture and selection */
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: auto;
}

body {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}
